.zuruporra .form-item {
    display: inline-block;
    margin-right: 20px;
}

fieldset.zuruporra legend {
    font-size: 18px;
}

.zona-resultados {
    overflow-x: auto;
}

.resultado, .usuario-cabecera, .puntos {
    text-align: center;
}

.usuario-cabecera {
    background-color: #2C5858;
    width: 85px;
}

.zuruporra-tabla .lideres td, .zuruporra-tabla .ridiculos td, .zuruporra-tabla .acertado, .zuruporra-tabla .no-acertado {
    color: white;
}

.zuruporra-tabla td {
    background-color: transparent;
}

.zuruporra-tabla tr.ridiculos, .zuruporra-tabla td.no-acertado {
    background-color: #d33b3c !important;
}

.zuruporra-tabla tr.lideres, .zuruporra-tabla td.acertado {
    background-color: #6da663 !important;
}
